name: Node PR CI
on:
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NAME: putout
    strategy:
      matrix:
        node-version:
          - 16.x
          - 18.x
          - 20.x
          - 21.x
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Redrun
        run: bun install redrun -g --no-save
      - name: Install
        run: yarn --no-lockfile
      - name: Lint
        run: redrun lint
      - name: Install Rust
        run: rustup update
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Typos Install
        run: cargo install typos-cli || echo 'already installed'
      - name: Typos
        run: typos
      - name: Coverage
        run: redrun coverage:ci report
