name: Node CI
on:
  push:
    branches: master
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NAME: putout
    strategy:
      matrix:
        node-version:
          - 16.x
          - 18.x
          - 20.x
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Redrun
        run: npm i npm redrun -g
      - name: Install
        run: npm i
      - name: Lint
        run: redrun fix:lint
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Typos Install
        run: which typos || cargo install typos-cli
      - name: Typos
        run: typos --write-changes
      - name: Commit fixes
        uses: EndBug/add-and-commit@v9
        with:
          message: "chore: ${{ env.NAME }}: actions: lint ☘️"
          pull: --rebase --autostash
      - name: Coverage
        run: redrun coverage:ci report
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
