name: Node CI
on:
  - push
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NAME: putout
    strategy:
      matrix:
        node-version:
          - 16.x
          - 18.x
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Redrun, Lerna
        run: npm i redrun lerna -g
      - name: Bootstrap
        run: lerna bootstrap
      - name: Lint
        run: redrun fix:lint
    
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: typos-cli

      - name: Typos
        run: typos --write-changes || true

      - name: Commit fixes
        uses: EndBug/add-and-commit@v7
        with:
          message: chore(${{ env.NAME }}) lint using actions
      - name: Coverage
        run: redrun coverage:ci report
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
